.component {
  display: flex;
  justify-content: center;
  padding: 24px;
  &__card {
    width: 400px;
    &__header {
      padding: 16px;
    }
    &__input {
      width: 100%;
    }
    &__actions {
      display: flex;
    }
    &__button {
      &--secondary {
        width: 100%;
        margin-right: 12px;
      }
      &--main {
        width: 100%;
      }
    }
  }
}