@import "../../../../../styles.scss";

.dialog {
  &__content {
    &__input {
      width: 100%;
    }
    &__actions {
      justify-content: right;
      padding: 0px;
    }
    &__button {
      &--secondary {
        @include stroked-button;
      }
      &--main {
        @include flat-button;
      }
    }
  }
}