@import '../../../styles.scss';

.footer {
  justify-content: center;
  display: fixed;
  &__text {
    font-size: 12px;
    font-weight: 400;
    color: rgb(165, 165, 165);
  }
  &__spacer {
    flex: 1 1 auto;
  }
  &__button {
    @include flat-button;
  }
}