@import '../../../styles.scss';

.component {
  display: flex;
  justify-content: center;
  padding: 24px;
  &__card {
    width: 400px;
    &__actions {
      justify-content: center;
      padding: 16px;
    }
    &__button {
      @include flat-button;
    }
  }
}